<div class="m-10">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"  (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
         Book ID
        </label>
        <input ng-model="data.id"  name ="id" class="shadow border-1 border-black appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="id">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Book Name
        </label>
        <input placeholder="Book Name" ng-model="data.name" name ="name" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" >
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Book Author
        </label>
        <input  ng-model="data.author" placeholder="Author Name"  name ="author" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Date 
        </label>
        <input  ng-model="data.date"placeholder="Date"  name ="date" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Modified date
        </label>
        <input  ng-model="data.md" placeholder="Modified Date"  name ="md" class="shadow appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text">
      </div>


      <div class="flex items-center justify-between">
        <button  ng-if="singleEmployeeSelected" ng-click="edit()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Update
        </button>
      </div>
      
    </form>
  </div>